<h4>Grid mit 4/4 Teilung</h4>

<ng-container *ngFor="let mybook of books$ | async as books; index as ind">
  <ng-container *ngIf="!(ind % 4)">
    <div class="ui grid">
      <div class="four wide column">
        <bm-book-list-item 
        *ngIf="books[ind]"
        class="item" [book]="books[ind]" [routerLink]="books[ind].isbn">
        </bm-book-list-item>
      </div>

      <div class="four wide column">
        <bm-book-list-item 
        *ngIf="books[ind]"
        class="item" [book]="books[ind+1]" [routerLink]="books[ind+1].isbn">
        </bm-book-list-item>
      </div>
      <div class="four wide column">
        <bm-book-list-item 
        *ngIf="books[ind]"
        class="item" [book]="books[ind+2]" [routerLink]="books[ind+2].isbn">
        </bm-book-list-item>
      </div>

      <div class="four wide column">
        <bm-book-list-item 
        *ngIf="books[ind]"
        class="item" [book]="books[ind+3]" [routerLink]="books[ind+3].isbn">
        </bm-book-list-item>
      </div>
    </div>
  </ng-container>
</ng-container>


<!-- <div class="ui middle aligned selection divided list"> -->
<!-- <div class="ui grid">

    <div class="four wide column">
      <div *ngFor="let mybook of books$ | async as books; even as isEven">
        <bm-book-list-item class="item" *ngIf="isEven" [book]="mybook" [routerLink]="mybook.isbn">
        </bm-book-list-item>
        <br>
      </div>
    </div>

    <div class="four wide column">
      <div *ngFor="let mybook of books$ | async as books; odd as isOdd">
        <bm-book-list-item class="item" *ngIf="isOdd" [book]="mybook" [routerLink]="mybook.isbn">
        </bm-book-list-item>
        <br>
      </div>
    </div>
  </div> -->
<!-- </div> -->




<!-- < class="ui middle aligned selection divided list">
  
 <div *ngIf="books$ | async as books; else loading">
    <bm-book-list-item class="item"
      *ngFor="let b of books"
      [book]="b"
      [routerLink]="b.isbn"></bm-book-list-item>
    
    <p *ngIf="!books.length"
      i18n="@@BookListComponent:no book">
      Es wurden noch keine Bücher eingetragen.
    </p>
  </div>

  <ng-template #loading>
    <div class="ui active dimmer">
      <div class="ui large text loader"
        i18n="@@BookListComponent:loading data">
        Daten werden geladen...
      </div>
    </div>
  </ng-template>
 

</div> -->
